@tailwind base;
@tailwind components;
@tailwind utilities;


body{

margin:0;

font-family:
Inter,
Arial,
sans-serif;

background:#f5f7fb;

}@media print {

button {
display:none;
}

body {
background:white;
}

}
